<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/updateGA" method="post">
        东经：&nbsp;&nbsp; 度&nbsp;<input type="text" name="degree" value="121">&nbsp;分&nbsp;
        <input type="text" name="minute" value="">秒&nbsp;<input type="text" name="second">
        <br>
        北纬：&nbsp;&nbsp; 度&nbsp;<input type="text" name="degree" value="29">&nbsp;分&nbsp;
        <input type="text" name="minute">秒&nbsp;<input type="text" name="second">
        <br>
        _id:&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="_id">
        <br>
        <input type="submit">
    </form>
</body>
</html>